version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: env_backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    networks:
      - app_net
    restart: unless-stopped

  frontend:
    build:
      context: ./mobile_flutter
      dockerfile: Dockerfile
    container_name: env_frontend
    depends_on:
      - backend
    ports:
      - "8080:80"
    networks:
      - app_net
    restart: unless-stopped

networks:
  app_net:
    driver: bridge
